@model ContactModel

<!--Na samej górze widoku określasz, że widok przyjmuje model typu ContactModel:-->
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Szczególy kontaktu</h2>
<h3>@Model.First_Name @Model.Last_Name</h3>
<h4>@Model.Email</h4>
<h4>@Model.BirthDate</h4>
<h4>@Model.PhoneNumber</h4>
<a href="@Url.Action("Index", "Contact")">Powrót</a>